@{
    ViewBag.Title = "CreateGame";
}

<h2>CreateGame</h2>

<form method="post" action="">
    Please input the Game name:<br />
    <input type="text" name="Name" maxlength="200">
    <br />
    Enter the Description: <br />
    <textarea cols="40" rows="10" name="Description" />
    <br />
</form>
